Checks: >
  HeaderFilterRegex: 'src/.*'
  bugprone-assert-side-effect,
  bugprone-assignment-in-if-condition,
  bugprone-bad-signal-to-kill-thread,
  bugprone-branch-clone,
  bugprone-copy-constructor-init,
  bugprone-dangling-handle,
  bugprone-dynamic-static-initializers,
  bugprone-infinite-loop,
  bugprone-integer-division,
  bugprone-redundant-branch-condition,
  bugprone-reserved-identifier,
  bugprone-shared-ptr-array-mismatch,
  bugprone-sizeof-container,
  bugprone-sizeof-expression,
  bugprone-standalone-empty,
  bugprone-too-small-loop-variable,
  bugprone-unchecked-optional-access,
  bugprone-unhandled-self-assignment,
  bugprone-unused-raii,
  bugprone-use-after-move,
  cppcoreguidelines-avoid-capture-default-when-capturing-this,
  cppcoreguidelines-avoid-const-or-ref-data-members,
  cppcoreguidelines-avoid-do-while,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-avoid-reference-coroutine-parameters,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-macro-usage,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  cppcoreguidelines-pro-bounds-constant-array-index,
  cppcoreguidelines-pro-bounds-pointer-arithmetic,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-reinterpret-cast,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-pro-type-union-access,
  cppcoreguidelines-pro-type-vararg,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-virtual-class-destructor,
  cppcoreguidelines-avoid-c-arrays,
  cppcoreguidelines-avoid-magic-numbers,
  cppcoreguidelines-c-copy-assignment-signature,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-macro-to-enum,
  cppcoreguidelines-non-private-member-variables-in-classes,
  modernize-avoid-bind,
  modernize-deprecated-headers,
  modernize-make-shared,
  modernize-make-unique,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  misc-const-correctness,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-unnecessary-copy-initialization,
  portability-restrict-system-includes,
  readability-avoid-const-params-in-decls,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-size-empty,
  readability-container-size-empty,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-else-after-return,
  readability-identifier-length,
  readability-inconsistent-declaration-parameter-name

#  cppcoreguidelines-owning-memory, Qt's parent child memory management results in false positives

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"
